{% extends 'base.html.twig' %}

{% block title %}Duck index{% endblock %}

 {% block content %}
<div class=" m-5">
    <h1>Liste des Duck</h1>

    <table class="table ">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Duckname</th>

{#                <th>Password</th>#}
{#                <th>Roles</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for duck in ducks %}
            {% if  duck.firstname != "admin" %}
            <tr class="col-5">
                <td><img class="d-block user-select-none pb-3 pt-3" width="50px" height="auto"
                         src="/uploads/{{ duck.uploadFileName }}"/></td>
                <td>{{ duck.firstname }}</td>
                <td>{{ duck.lastname }}</td>
                <td>{{ duck.duckname }}</td>

{#                <td>{{ duck.password }}</td>#}
{#                <td>{{ duck.roles ? duck.roles|json_encode : '' }}</td>#}
                <td>
                    {% if app.user.duckname == duck.duckname %}
                    <a href="{{ path('duck_show', {'id': duck.id}) }}">Voir</a>
                    <a href="{{ path('duck_edit', {'id': duck.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a class=" btn btn-secondary" href="{{ path('duck_new') }}">Ajouter un Duck</a>#}
</div>
{% endblock %}
