{% extends 'base.html.twig' %}

{% block title %}Duck index{% endblock %}

 {% block content %}
    <h1>Duck index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Duckname</th>
                <th>Email</th>
{#                <th>Password</th>#}
{#                <th>Roles</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for duck in ducks %}
            <tr class="col-5">
                <td><img class="d-block user-select-none pb-3 pt-3" width="50px" height="auto"
                         src="/uploads/{{ duck.uploadFileName }}"/></td>
                <td>{{ duck.firstname }}</td>
                <td>{{ duck.lastname }}</td>
                <td>{{ duck.duckname }}</td>
                <td>{{ duck.email }}</td>
{#                <td>{{ duck.password }}</td>#}
{#                <td>{{ duck.roles ? duck.roles|json_encode : '' }}</td>#}
                <td>
                    <a href="{{ path('duck_show', {'id': duck.id}) }}">show</a>
                    <a href="{{ path('duck_edit', {'id': duck.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('duck_new') }}">Create new</a>
{% endblock %}
