{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
    <div class=" container d-flex justify-content-between position-relative">
        <div class="col-3 m-5">
            <h1>Liste des Quacks</h1>
            <p> Ici le menu </p>
        </div>
        <div class=" m-5">


            <div class="row">
                {% for quack in quacks |sort((a, b) => b.createdAt <=> a.createdAt)%}

                    <div class="card  p-1">
                        <div class="card-body m-1">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-title"> {{ quack.Auteur.duckname }}</h4>
                                <small>{{ quack.createdAt ? quack.createdAt|date('d-m-y h:i:s') : '' }}</small>
                            </div>
                            <div class="d-flex justify-content-start">
                                <h6 class="card-subtitle mb-2 text-muted">Infos sur le Duck à implémenter</h6>
                            </div>
                            <div class="d-flex justify-content-start">
                                {% for tag in quack.tags %}
                                    <a class = "badge badge-pill badge-primary mr-1" style="height: fit-content">{{tag}}</a>
                                {% endfor %}
                            </div>

                            <img class="d-block user-select-none pb-3 pt-3" width="100%" height="auto"
                                 src="/uploads/{{ quack.uploadFileName }}">
                            <p class="card-text"> {{ quack.content }}</p>
                            <div class="d-flex justify-content-end">
                                <a href="{{ path('quack_show', {'id': quack.id}) }}" class="card-link">Lire le
                                    Quack</a>
                            </div>
                        </div>
                        {% if is_granted('edit', quack) %}
                            <div class="d-flex justify-content-end">
                                <a class="" href="{{ path('quack_edit', {'id': quack.id}) }}">Modifier</a>
                            </div>
                        {% endif %}
                    </div>

                {% else %}
                    <div>
                        <p>no records found
                        <p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    {% if app.user %}

            <a class="btn btn-success float-right position-absolute" style href="{{ path('quack_new') }}"><i class="fas fa-plus"></i> Ajouter un
                Quack</a>

    {% endif %}
{% endblock %}
