{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <h1>Liste des Quacks</h1>
    <div  class="row justify-content-end mb-5">
        <a class = "btn btn-success" href="{{ path('quack_new') }}"><i class="fas fa-plus"></i> Ajouter un Quack</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id :</th>
                <th>Auteur :</th>
                <th>Contenu :</th>
                <th>Créé le :</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quack in quacks %}
            <tr>
                <td><p class = "badge badge-pill badge-primary">{{ quack.id }}</p></td>
                <td>{{ quack.autheur }}</td>
{#                <td>{{ quack.tags }}</td>#}

                <td>{{ quack.content }}{{ quack.photo }}</td>
                <td>{{ quack.createdAt ? quack.createdAt|date('d-m-y h:i:s') : '' }}</td>
                <td>
                    <a  class = "btn btn-outline-info btn-sm" href="{{ path('quack_show', {'id': quack.id}) }}"><i class="far fa-eye"></i> Voir </a>
                    <a class = "btn btn-outline-warning btn-sm" href="{{ path('quack_edit', {'id': quack.id}) }}"><i class="far fa-edit"></i> Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
