{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
<div class="container mt-5 mb-5"  >
    <h1>Liste des Quacks</h1>
    {% if app.user %}
    <div  class="row justify-content-end mb-5">
        <a class = "btn btn-success" href="{{ path('quack_new') }}"><i class="fas fa-plus"></i> Ajouter un Quack</a>
    </div>
    {% endif %}
    <div class="d-flex justify-content-around">
        {% for quack in quacks %}
        <div class = "card text-white bg-primary mb-3 d-flex flex-column justify-content-between" style = "max-width: 20rem; min-width: 320px">
            <div class = "card-header"></div>
            <div class = "card-body">
                <h4 class = "card-title">{{ quack.id }}</h4>
                <p>{{ quack.photo }}</p>
                <p class = "card-text">{{ quack.content }}</p>
                <p><small>{{ quack.autheur }}</small></p>
                <p><small>{{ quack.createdAt ? quack.createdAt|date('d-m-y h:i:s') : '' }}</small></p>
                <div>
                    <a  class = "" href="{{ path('quack_show', {'id': quack.id}) }}"><i class="far fa-eye"></i> Voir </a>
                    {% if app.user %}
                        <a class = "" href="{{ path('quack_edit', {'id': quack.id}) }}"><i class="far fa-edit"></i> Editer</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            <div>
                <p>no records found<p>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
